// B&W
$black:              rgb(0, 0, 0);
$cod-gray:           rgb(25, 25, 25);    // #191919
$mine-shaft:         rgb(41, 41, 41);    // #292929
$tundora:            rgb(67, 67, 67);    // #434343 & #333
$dove-gray:          rgb(102, 102, 102); // #666
$dusty-gray:         rgb(153, 153, 153); // #999
$silver-chalice:     rgb(170, 170, 170); // #AAA
$silver:             rgb(204, 204, 204); // #CCC
$alto:               rgb(221, 221, 221); // #DDD
$mercury:            rgb(228, 228, 228); // #E4E4E4
$gallery:            rgb(239, 239, 239); // #EAEAEA & #EEE & #EFEFEF
$concrete:           rgb(242, 242, 242); // #F2F2F2
$alabaster:          rgb(247, 247, 247); // #F7F7F7
$white:              rgb(255, 255, 255); // #FFF

// Red
$punch:              rgb(204, 65, 37);
$milano-red:         rgb(166, 28, 0);
$kenyan-copper:      rgb(133, 32, 12);
$rosewood:           rgb(91, 15, 0);
$sunglo:             rgb(224, 102, 102);
$guardsman-red:      rgb(104, 0, 0);
$red-berry:          rgb(153, 0, 0);
$lonestar:           rgb(102, 0, 0);
$grenadier:          rgb(204, 51, 0); // Not in color picker
$mona-lisa:          rgb(255, 145, 145); // Not in color picker
$fair-pink:          rgb(255, 232, 232); // Not in color picker

// Orange
$rajah:              rgb(246, 178, 107);
$fire-brush:         rgb(230, 145, 56);
$mai-tai:            rgb(180, 95, 6);
$peru-tan:           rgb(120, 63, 4);
$flush-orange:       rgb(255, 128, 0); // Not in color picker
$peach-orange:       rgb(255, 204, 153); // Not in color picker
$peach-cream:        rgb(255, 239, 223); // Not in color picker

// Yellow
$dandelion:          rgb(255, 217, 102);
$saffron:            rgb(241, 194, 50);
$pirate-gold:        rgb(191, 144, 0);
$olive:              rgb(127, 96, 0);

// Green
$olivine:            rgb(147, 196, 125);
$chelsea-cucumber:   rgb(106, 168, 79);
$limeade:            rgb(122, 184, 0); // Not in color picker
$peppermint:         rgb(235, 245, 231);
$forest-green:       rgb(56, 118, 29);
$green-house:        rgb(39, 78, 19);
$gulf-stream:        rgb(118, 165, 175);
$wedgewood:          rgb(69, 129, 142);
$eden:               rgb(19, 79, 92);
$elephant:           rgb(12, 52, 61);
$japanese-laurel:    rgb(0, 153, 0);

// Blue
$cornflower-blue:    rgb(109, 158, 235);
$royal-blue:         rgb(60, 120, 216);
$denim:              rgb(17, 85, 204);
$chathams-blue:      rgb(28, 69, 135);
$danube:             rgb(111, 168, 220);
$boston-blue:        rgb(61, 133, 198);
$venice-blue:        rgb(11, 83, 148);
$deep-sapphire:      rgb(7, 55, 99);

// Purple
$mountains-majesty:  rgb(142, 124, 195);
$butterfly-bush:     rgb(103, 78, 167);
$meteorite:          rgb(53, 28, 120);
$bunting:            rgb(32, 18, 77);

// Magenta
$viola:              rgb(194, 123, 160);
$cadillac:           rgb(166, 77, 121);
$claret:             rgb(116, 27, 71);
$loulou:             rgb(76, 17, 48);